.AboutMePage{
    width: 60%;
}

.status{
background: #D7FFE0;
border-radius: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 9px;
line-height: 26px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: #018C0F;
}