.HomePage{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.IntroductionText > h1{
font-family: system-ui;
font-style: normal;
font-weight: 700;
font-size: 58px;
color: #42446E;
}

.MyPicture > img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
}
.MyPicture{
    background: linear-gradient(to right,#00C0FD, #E70FAA);
    padding: 4px;
    border-radius: 50%;

}