.App{
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1%;
  font-family: system-ui;
  font-style: normal;
}

.firstTitle {
  
  
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;

  letter-spacing: -0.4px;

  color: #42446E;
}

.secondTitle{
font-family: system-ui;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
letter-spacing: 1px;
color: #666666;
}

.thirdTitle{
font-family: system-ui;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 28px;
letter-spacing: 1px;
color: #A7A7A7;
}

.generaltext {


  
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  color: #666666;

  mix-blend-mode: darken;

}

hr{
  background: linear-gradient(to right,#00C0FD, #E70FAA);
  border: 2px solid #666666;
  margin: 10%;
  border-radius: 50%;
}